[submodule "engine_plugins/attachment_fu"]
	path = engine_plugins/attachment_fu
	url = git://github.com/technoweenie/attachment_fu.git
[submodule "engine_plugins/responds_to_parent"]
	path = engine_plugins/responds_to_parent
	url = git://github.com/markcatley/responds_to_parent.git
[submodule "engine_plugins/acts_as_list"]
	path = engine_plugins/acts_as_list
	url = git://github.com/rails/acts_as_list.git
[submodule "engine_plugins/acts_as_tree"]
	path = engine_plugins/acts_as_tree
	url = git://github.com/rails/acts_as_tree.git
