<%= render :partial => "script" %>

<%= render :partial => "comatose/admins/import_export" %>

<h1> Page List </h1>

<div style="clear : both"></div>

<%= link_to "Create Root Page", new_admin_path, :class => "btn" %>

<%= render :partial => 'comatose/admins/page_list' %>

<div id="status"></div>
