<tr>
  <td colspan="2">
    <%= link_to "Textile Help", "http://redcloth.org//textile/" %>
    <%= link_to "Textile Quick Reference", "http://redcloth.org/hobix.com/textile/quick.html" %>
  </td>
</tr>